body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F3F0CA;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #2E6C7B;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}

confetti({
  particleCount: 100,
  spread: 70,
  origin: { y: 0.6 },
});
